.formulario-auth {
    max-width: 400px;
    margin: 5rem auto;
    padding: 2rem;
    border: 1px solid #ccc;
    border-radius: 5px;

    .campo {
        margin-bottom: 1.5rem;

        label {
            display: block;
            margin-bottom: .5rem;
        }

        input {
            width: 100%;
            padding: .8rem;
            border: 1px solid #ccc;
            border-radius: 3px;
        }
    }

    .boton-enviar {
        width: 100%;
        padding: 1rem;
        border: none;
        background-color: #28a745;
        color: white;
        cursor: pointer;
        border-radius: 3px;

        &:hover {
            background-color: #218838;
        }
    }
}